.comments-list li:first-child {
    border-top: 0px solid #323233;
}

.comments-list li {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    /* border-top: 1px solid #323233; */
    border-inline-start: 1px solid #323233;
}

.comments-list {
    border-top: 1px solid #323233;
    display: grid;
    grid-template-columns: 48px minmax(0px, 1fr);
}