body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: var(--gray3);
    text-align: center;
    color: rgb(243 245 247);
    caret-color: transparent;
}

/* setup */
@import 'setups/vars.css';
@import 'setups/typography.css';


/* helpers */
@import 'base/base.css';
@import 'base/forms.css';
@import 'base/helpers.css';
@import 'base/layout.css';

/* views */
@import 'views/app-header.css';
@import 'views/post-index.css';
@import 'views/about.css';
@import 'views/home.css';

/* Component */
@import 'cmps/post/post-list.css';
@import 'cmps/post/post-preview.css';
@import 'cmps/post/post-details.css';
@import 'cmps/post/post-edit.css';

@import 'cmps/comment/comments-list.css';
@import 'cmps/comment/add-comments.css';
@import 'cmps/comment/comments-preview.css';
