.post-preview {
    width: 100%;
    text-align: start;
    margin-bottom: 40px;
}

.post-content {
    align-items: center;
    justify-content: space-between;
}

.post-header {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.post-header img {
    max-height: 60px;
    border-radius: 50%;
    outline: 2px solid var(--clr1);
    margin-inline-end: 10px;
}

.likes-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-end: 4.5px;
}

@media screen and (max-width: 992px) {
    .post-header img {
        max-height: 50px;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .post-header img {
        max-height: 40px;
    }
}