.app-header {
  color: var(--gray1);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  grid-template-columns: max-content 1fr max-content;
  backdrop-filter: blur(50px);
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  min-height: 50px;
  z-index: 10;
}

.app-header .logo {
  margin-inline-start: 25px;
  font-weight: 1000;
}

.app-header .login-btn {
  margin-inline-end: 25px;
}

.app-nav>* {
  padding-inline-end: 25px;
}

@media(max-width: 720px) {
  .app-header .logo {
    margin-inline-start: 10px;
  }

  .app-header .login-btn {
    margin-inline-end: 10px;
  }

}