:root {
  --clr1: rgb(247, 238, 211);
  --clr2: rgb(170, 179, 150);

  --clr1bg: rgb(170, 179, 150);
  --clr2bg: rgb(247, 238, 211);
  --clr1bg-light: rgb(255, 248, 232);

  --gray1: rgb(243, 245, 247);
  --gray2: rgb(155, 155, 155);
  --gray4: #3b3b3b;
  --gray3: #101010;
  --gray5: rgb(30, 30, 30);


  --white: rgb(243 245 247);
}