:root {
    --clr1: rgb(247, 238, 211);
    --clr2: rgb(170, 179, 150);
  
    --clr1bg: rgb(170, 179, 150);
    --clr2bg: rgb(247, 238, 211);
    --clr1bg-light: rgb(255, 248, 232);
  
    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
  } 